body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    width: 364.533px;
    /* Adjust the width as needed */
    height: 692px;
    /* Adjust the height as needed */
    background-color: #ffffff;
    border-radius: 22px;
    /* Control the roundness of the corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    /* Add shadow */
}

.enroll-container {
    width: 100%;
    height: 100%;
    /* Adjust the height as needed */
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.enroll-div h1 {
    margin-top: 10%;
    width: 100px;
    height: 30px;
    flex-shrink: 0;
    color: #C3002F;
    text-align: center;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #C0002F;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.detail-div h1 {
    color: #000;
    text-align: center;
    font-family: Imprima;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transform: translateX(-26.3%);
}

.enroll-div,
.profile-div {
    margin-left: 20px;
}

.profile-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    height: 55px;
}

.profile-grid img {
    width: 48.335px;
    height: 48.392px;
    flex-shrink: 0;
    border-radius: 48.392px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 45px;
}

.d-flex {
    margin: 5px 90px 0 0;
    font: normal 15px 'Poppins', sans-serif;
    transform: translateY(-31%);
    align-items: center;
    height: 90px;
}

.d-flex .p-2 h4 {
    width: 83px;
    height: 19.45px;
    font: normal 16px 'Imprima', sans-serif;
}

.d-flex .p-2 h5 {
    transform: translateY(-40%);
}

.last-modify-div h5 {
    margin-left: 20px;
}

.button-container {
    align-items: center;
    justify-content: center;
    margin: 0 0 0 41px;
    width: auto;
    height: 26px;
    border-radius: 20px;
    background: #f3f3f3;
    flex-shrink: 0;
}

.button-box {
    width: auto;
    margin: 22px auto;
    position: relative;
    border-radius: 20px;
    background: #fff;
    justify-content: center;
    align-items: center;
    height: auto;
}

.toggle-btn {
    padding: 6px 6.5px;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: relative;
    text-align: center;
    width: auto;
    display: inline-block;
}

#btn {
    left: 20px;
    top: 3px;
    position: absolute;
    width: 127px;
    height: 26px;
    background: #ffdfae;
    border-radius: 20px;
    transition: .5s;
}

button {
    margin-right: 5px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 400;
    font: bold 13px 'Poppins', sans-serif;
}

.calendar-pic img {
    width: 303px;
    height: 200px;
    margin: 10px 0 0 24px;
    border-radius: 10px;
}

.day-div h4 {
    margin: 6px 0 0 20px;
    font-family: 'Poppins';
}

.class-container {
    width: 303px;
    height: 120px;
    background: rgb(249, 246, 246);
    margin: 10px 0 0 20px;
    border-radius: 10px;
}

.grid-row {
    display: grid;
    grid-template-columns: auto auto auto;
}

.time-container h4,
.time-container h5 {
    margin: 10px 0 0 15px;
    font-family: 'Poppins';
}

.border-line {
    background-color: rgba(255, 209, 47, 1);
    height: 105px;
    margin-top: 10px;
    margin-left: 4px;
    padding-left: 3px;
}

.class-detail h4 {
    font: bold 15px 'Poppins', sans-serif;
    margin: 10px 0 0 7px;
}

.class-detail h5 {
    font: normal 12px 'Poppins', sans-serif;
    margin: 12px 0 0 7px;
}

.class-detail h6 {
    font: normal 10px 'Poppins', sans-serif;
    margin: 3px 0 0 7px;
}




